body {
    background-color: blanchedalmond;
}

.challenge {
    background-color: white;
    margin: auto;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    padding: 15px;
    text-align: center;
}