body {
    background-color: blanchedalmond;
}

.challenge {
    background-color: white;
    margin: auto;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    padding: 15px;
    text-align: center;
}

#points-div {
    position:absolute;
    bottom: 5px;
    left: 5px;
}

#vanilla {
    position:absolute;
    bottom: 5px;
    right: 5px;
}